{% extends 'customer/base.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'customer/menu_style.css' %}"
/>
{% endblock style %} {% block content %}
<div
        class="d-flex flex-column mb-3 align-items-center justify-content-center"
        >
        <div>
          <h1 class="main-header display-1">
            {% if meal %} {{meal}} {% else %} Menu {% endif %}
          </h1>
        </div>
        <div
          class="w-50 d-flex flex-row mb-5 align-items-center justify-content-evenly"
        >
          <form method="POST" action=".">
            {% csrf_token %}
            <button
              type="submit"
              name="meal_type"
              value="breakfast"
              class="menu-button btn btn-outline-light btn-lg btn-link"
            >
              Breakfast
            </button>
          </form>
          <form method="POST" action=".">
            {% csrf_token %}
            <button
              type="submit"
              name="meal_type"
              value="lunch"
              class="menu-button btn btn-outline-light btn-lg btn-link"
            >
              Lunch
            </button>
          </form>
          <form method="POST" action=".">
            {% csrf_token %}
            <button
              type="submit"
              name="meal_type"
              value="dinner"
              class="menu-button btn btn-outline-light btn-lg btn-link"
            >
              Dinner
            </button>
          </form>
        </div>
        {% if meal %}
        <div class="container">
          {% comment %} {% include 'customer/menu_grid.html' %} {% endcomment %}
          {% include 'customer/menu_grid.html' with meal=meal menu_items=menu_items %}
        </div>
        {% endif %}
        </div>
      </div>
{% endblock content %}
