<div class="container">
  <div class="row">
    {% comment %} <div class="col-md-8"> {% endcomment %}
      {% comment %} Appetizer {% endcomment %}
      <div class="mb-3">
        <div class="row">
          <div class="category-title">
            <h7 class="display-6 text-light ms-3">Appetizers</h7>
          </div>
        </div>
        <div class="row">
          <div class="food-items">
            <div class="container">
              <div
                class="d-flex flex-row justify-content-start align-items-center flex-wrap gap-3"
              >
                {% for item in appetizer %}
                <div class="col-md-3 menu-item card mb-3">
                  <img
                    src="{{ item.image.url }}"
                    class="card-img-top img-thumbnail"
                    alt="food image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{item.price}}
                    </h6>
                    <p class="card-text">
                      {{item.description}} Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                {% endfor %} {% comment %} TEST {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} End Appetizer {% endcomment %}
      {% comment %} Entree {% endcomment %}
      <div class="mb-3">
        <div class="row">
          <div class="category-title">
            <h7 class="display-6 text-light ms-3">Entrees</h7>
          </div>
        </div>
        <div class="row">
          <div class="food-items">
            <div class="container">
              <div
                class="d-flex flex-row justify-content-start align-items-center flex-wrap gap-3"
              >
                {% for item in entree %}
                <div class="col-md-4 menu-item card mb-3">
                  <img
                    src="{{ item.image.url }}"
                    class="card-img-top img-thumbnail"
                    alt="food image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{item.price}}
                    </h6>
                    <p class="card-text">
                      {{item.description}} Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                {% endfor %} {% comment %} TEST {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} End Entree {% endcomment %}
      {% comment %} Dessert {% endcomment %}
      <div class="mb-3">
        <div class="row">
          <div class="category-title">
            <h7 class="display-6 text-light ms-3">Desserts</h7>
          </div>
        </div>
        <div class="row">
          <div class="food-items">
            <div class="container">
              <div
              class="d-flex flex-row justify-content-start align-items-center flex-wrap gap-3"
              >
                {% for item in dessert %}
                <div class="col-md-3 menu-item card mb-3">
                  <img
                    src="{{ item.image.url }}"
                    class="card-img-top img-thumbnail"
                    alt="food image"
                    
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{item.price}}
                    </h6>
                    <p class="card-text">
                      {{item.description}} Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                {% endfor %} {% comment %} TEST {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} End Dessert {% endcomment %}

      {% comment %} Drink {% endcomment %}
      <div class="mb-3">
        <div class="row">
          <div class="category-title">
            <h7 class="display-6 text-light ms-3">Drinks</h7>
          </div>
        </div>
        <div class="row">
          <div class="food-items">
            <div class="container">
              <div
                class="d-flex flex-row justify-content-start align-items-center flex-wrap gap-3"
              >
                {% for item in drink %}
                <div class="col-md-3 menu-item card mb-3">
                  <img
                    src="{{ item.image.url }}"
                    class="card-img-top img-thumbnail"
                    alt="food image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{item.price}}
                    </h6>
                    <p class="card-text">
                      {{item.description}} Some quick example text to build on
                      the card title and make up the bulk of the card's content.
                    </p>
                  </div>
                </div>
                {% endfor %} {% comment %} TEST {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} End Drink {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="col-md-4">Right</div> {% endcomment %}
  </div>
</div>
