{% extends 'customer/base.html' %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-1">
    <div class="col-md-12 col-sm-12 p-4">
      <form method="POST">
        {% csrf_token %}
        <div class="pt-5">
          {% for app in appetizers %}
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <img
                class="rounded"
                src="{{ app.image.url }}"
                width="150"
                height="100"
              />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row gap-2">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ app.pk }}"
                  />
                  <label class="form-check-label">{{ app.name }}</label>
                </div>
                <p class="font-weight-bold">
                  <i class="fas fa-dollar-sign"></i>{{ app.price }}
                </p>
              </div>
              <p>{{ app.description }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for entree in entrees %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img
                class="rounded"
                src="{{ entree.image.url }}"
                width="150"
                height="100"
              />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row gap-2">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ entree.pk }}"
                  />
                  <label class="form-check-label">{{ entree.name }}</label>
                </div>
                <p class="font-weight-bold">
                  <i class="fas fa-dollar-sign"></i>{{ entree.price }}
                </p>
              </div>
              <p>{{ entree.description }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for dessert in desserts %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img
                class="rounded"
                src="{{ dessert.image.url }}"
                width="150"
                height="100"
              />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row gap-2">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ dessert.pk }}"
                  />
                  <label class="form-check-label">{{ dessert.name }}</label>
                </div>
                <p class="font-weight-bold">
                  <i class="fas fa-dollar-sign"></i>{{ dessert.price }}
                </p>
              </div>
              <p>{{ dessert.description }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="pt-5">
          {% for drink in drinks %}
          <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
              <img
                class="rounded"
                src="{{ drink.image.url }}"
                width="150"
                height="100"
              />
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="d-flex flex-row gap-2">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    name="items[]"
                    class="form-check-input"
                    value="{{ drink.pk }}"
                  />
                  <label class="form-check-label">{{ drink.name }}</label>
                </div>
                <p class="font-weight-bold">
                  <i class="fas fa-dollar-sign"></i>{{ drink.price }}
                </p>
              </div>
              <p>{{ drink.description }}</p>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>

        <div class="form-group pt-3">
          <label for="name">Full Name</label>
          <input
            required
            class="form-control"
            type="text"
            placeholder="Your Name"
            name="name"
          />
        </div>
        <div class="form-group pt-3">
          <label for="name">Email</label>
          <input
            required
            class="form-control"
            type="text"
            placeholder="Your_Email@example.com"
            name="email"
          />
        </div>
        <div class="form-group pt-3">
          <label for="name">Street Address</label>
          <input
            required
            class="form-control"
            type="text"
            placeholder="123 Fourth St."
            name="street"
          />
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="form-group pt-3">
              <label for="name">City</label>
              <input
                required
                class="form-control"
                type="text"
                placeholder="New Jersey"
                name="city"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="form-group pt-3">
              <label for="name">State</label>
              <input
                required
                class="form-control"
                type="text"
                placeholder="NJ"
                name="state"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            4
            <div class="form-group pt-3">
              <label for="name">ZipCode</label>
              <input
                required
                class="form-control"
                type="text"
                placeholder="12345"
                name="zipcode"
              />
            </div>
          </div>
        </div>

        <button class="btn btn-dark mt-5">Place Order!</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
